<a href="https://colab.research.google.com/github/sanenchan/UAS-Machine-Learning/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import tweepy
from textblob import TextBlob
import pandas as pd
import numpy as np
import re,string
import matplotlib.pyplot as plt 
plt.style.use('fivethirtyeight')

from nltk.corpus import stopwords
from wordcloud import WordCloud,STOPWORDS

import csv

In [20]:
books_df = pd.read_csv('Books.csv', 
                        usecols=['ISBN','Book-Title'] , 
                        dtype={'ISBN': 'str','Book-Title': 'str'})
books_df

             ISBN                                         Book-Title
0      0195153448                                Classical Mythology
1      0002005018                                       Clara Callan
2      0060973129                               Decision in Normandy
3      0374157065  Flu: The Story of the Great Influenza Pandemic...
4      0393045218                             The Mummies of Urumchi
...           ...                                                ...
11898  1558216847  The Long Walk: The True Story of a Trek to Fre...
11899  0590313185                Bunnicula: A Rabbit-Tale of Mystery
11900  0590462253                              The Littles (Littles)
11901  0671024094  The Coffin Dancer (Lincoln Rhyme Novels (Paper...
11902  1565070054        As Time Goes by (California Series, Book 2)

[11903 rows x 2 columns]

In [23]:
ratings_df = pd.read_csv('Ratings.csv', 
                        usecols=['User-ID','ISBN','Book-Rating'] , 
                         dtype={'User-ID': 'int32','ISBN': 'str', 'Book-Rating': 'float'})
ratings_df

        User-ID        ISBN  Book-Rating
0        276725  034545104X          0.0
1        276726  0155061224          5.0
2        276727  0446520802          0.0
3        276729  052165615X          3.0
4        276729  0521795028          6.0
...         ...         ...          ...
439827   105295  3499611546          8.0
439828   105295  3518389726         10.0
439829   105295  3518392220         10.0
439830   105295  3518414755          8.0
439831    10529         NaN          NaN

[439832 rows x 3 columns]

In [24]:
books_df.head()

         ISBN                                         Book-Title
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

In [25]:
books_df.shape

(11903, 2)

In [26]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726  0155061224          5.0
2   276727  0446520802          0.0
3   276729  052165615X          3.0
4   276729  0521795028          6.0

In [27]:
ratings_df.shape

(439832, 3)

In [28]:
df = pd.merge(ratings_df, movies_df, on = 'ISBN')

In [29]:
df

        User-ID  ...                                         Book-Title
0        276725  ...                               Flesh Tones: A Novel
1          2313  ...                               Flesh Tones: A Novel
2          6543  ...                               Flesh Tones: A Novel
3          8680  ...                               Flesh Tones: A Novel
4         10314  ...                               Flesh Tones: A Novel
...         ...  ...                                                ...
119101    81492  ...             Cattleman's Honor  (winchester brides)
119102    52614  ...  Agent'S Secret Child (Texas Confidential) (Int...
119103    60244  ...  More Adventures of the Great Brain (Dell Yearl...
119104    63394  ...                               Unassigned Territory
119105    67542  ...                  Click, Clack, Moo: Cows That Type

[119106 rows x 4 columns]

In [31]:
combine_movie_rating = df.dropna(axis = 0, subset = ['Book-Title'])
movie_ratingCount = (combine_movie_rating.
                     groupby(by=['Book-Title'])['Book-Rating']
                     .count().reset_index().
                     rename(columns= {'Book-Rating': 'totalRatingCount'})[['Book-Title','totalRatingCount']])
            
movie_ratingCount

                                           Book-Title  totalRatingCount
0                                        It Takes Two                 2
1                        Tales of Terror and Suspense                 1
2                                                 '48                 2
3                                        'Salem's Lot                15
4              .NET Framework Essentials, 3rd Edition                 1
...                                               ...               ...
11312                                               e                14
11313                         iI Paradiso Degli Orchi                15
11314  metamorfosis, La (ClÃƒÂ¡sicos selecciÃƒÂ³n series)                 2
11315                                        stardust                15
11316                Ã‚Â¿QuiÃƒÂ©n se ha llevado mi queso?                 1

[11317 rows x 2 columns]

In [34]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on ='Book-Title', right_on='Book-Title', how='left')
rating_with_totalRatingCount.head()

   User-ID        ISBN  Book-Rating            Book-Title  totalRatingCount
0   276725  034545104X          0.0  Flesh Tones: A Novel                19
1     2313  034545104X          5.0  Flesh Tones: A Novel                19
2     6543  034545104X          0.0  Flesh Tones: A Novel                19
3     8680  034545104X          5.0  Flesh Tones: A Novel                19
4    10314  034545104X          9.0  Flesh Tones: A Novel                19

In [ ]:
#pd.set_option('display, float_format', lambda x: '%.3f' % x)
#print(movie_ratingCount['totalRatingCount'].describe())

In [35]:
popularity_threshold = 50
rating_popular_movie = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

    User-ID        ISBN  Book-Rating    Book-Title  totalRatingCount
19   276727  0446520802          0.0  The Notebook               201
20   278418  0446520802          0.0  The Notebook               201
21      638  0446520802          0.0  The Notebook               201
22     3363  0446520802          0.0  The Notebook               201
23     7158  0446520802         10.0  The Notebook               201

In [36]:
rating_popular_movie.shape

(46414, 5)

In [39]:
#First lets create a Pivot Matrix

movie_features_df = rating_popular_movie.pivot_table(index='Book-Title', columns='User-ID',values='totalRatingCount').fillna(0)
movie_features_df.head()

User-ID                                             8       ...  278854
Book-Title                                                  ...
1984                                                   0.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0

[5 rows x 11866 columns]

In [40]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric= 'cosine' , algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [41]:
movie_features_df.head()

User-ID                                             8       ...  278854
Book-Title                                                  ...
1984                                                   0.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0

[5 rows x 11866 columns]

In [42]:
query_index = np.random.choice(movie_features_df.shape[0]) 
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 8)

191

In [43]:
movie_features_df.head()

User-ID                                             8       ...  278854
Book-Title                                                  ...
1984                                                   0.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0

[5 rows x 11866 columns]

In [44]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendation for {0} :\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0} {1}, with distance of {2}:' .format(i,movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendation for It Was on Fire When I Lay Down on It :

1 All I Really Need to Know, with distance of 0.6793817649733891:
2 Dances With Wolves, with distance of 0.8232233047033631:
3 The Sum of All Fears, with distance of 0.8424684905468489:
4 I Know Why the Caged Bird Sings, with distance of 0.84375:
5 I'll Be Seeing You, with distance of 0.8449565817634894:
6 Smilla's Sense of Snow, with distance of 0.8454693655577248:
7 Hannibal, with distance of 0.8493839809808227:

In [45]:
##Santoso (17.52.0006)